---
---

@import "{{ site.theme }}";

.container {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .7s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .7s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: 0.4;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  background-color: #fff;
  color: white;
  font-size: 18px;
  padding: 14px 28px;
      }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
